/*---------- Body ------------------*/
*{
  box-sizing: border-box;
}
html{
background-color: darkslategrey;
}

body{
  display: grid;
  grid-template-columns: 220px 1fr 1fr;
  grid-template-rows: 100px 40px 1fr 150px;
  background-color: #d64161;
  font-family: 'Open Sans', sans-serif;
}

a{
  padding: 10px;
  text-decoration: none;
  color: white;
}

/*---------- Header ----------------*/
header{
background-color: #feb236;
grid-column: 1/4;
grid-row: 1;
}

h1{
  margin: 0;
  padding: 10px;
}

.header-img{
  width: 40px;
}
/*---------- Nav Bar ---------------*/
nav{
background-color: #6b5b95;
display: flex;
flex-direction: row;
justify-content: space-around;
grid-column: 1/4;
grid-row: 2;
}

nav a:hover{
 background-color: #aba0c5;
 color: black;
}

/*---------- Aritcle ---------------*/
article{
background-color: #d64161;
grid-column: 2/span 2;
padding: 0 20px 20px 20px;
max-width: 1000px;
}

.taco-bell{
  width: 80%;
  margin: auto;
  display: block;
  padding-top: 20px;
}
/*---------- Aside -----------------*/
aside{
background-color: #ff7b25;
grid-column: 1;
grid-row: 3/5;
}

h3{
  padding-left:20px;
}

/*---------- Footer ----------------*/
footer{
 color: white;
 background-color: darkslategrey;
 grid-row: 5;
 grid-column: 1/4;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 padding: 50px;
}

/*---------- Media Queries ---------*/


/*---- Typical Tablet Size ---------*/
@media screen and (max-width: 768px){

  body{
    grid-template-rows: 100px 120px 1fr 1fr 150px;
  }

  a{
    padding:0 0 0 10px;
  }
  nav{
    flex-direction: column;
  }
  article{
    grid-column: 1/span 4;
    grid-row: 3;
  }

  aside{
    grid-column: 1/4;
    grid-row: 4;
  }


}

/*---- Large Phones ----------------*/
@media screen and (max-width: 440px){

}

/*---- Small Screens ---------------*/
@media screen and (max-width: 320px){

}
